#navigation {
    padding: 1rem;
    background-color: aliceblue; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}

header {
    position: sticky; 
    top: 0; 
}
.d-flex-align-center {
    display: flex;
    align-items: center;
}

.padding-3 {
    padding: 3px;
}